-
  var className = (blockName, attributes) => {
        let block = blockName;
        let className = block;

        if (attributes.el) {
            className = `${block}__${attributes.el}`;
            block = className;
        }

        if (attributes.mix) {
            className += ` ${attributes.mix}__${block}`;
        }

        Object
            .entries(attributes)
            .forEach(([key, value]) => {
                if (key !== 'mix' && key !== 'el')
                    className += ` ${block}_${key}_${value}`;
            });

        return className;
  };
