@mixin disable() {
    &:before{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(255, 255, 255, .5);
    }
  }
