$transition-time: .3s;

$color__green: #59B845;
$color__black: #000;
$color__white: #fff;
$color__white-blured: #FAFAFA;
$color__orange: #DD674B;
$color__gray-border: #DCDCDC;
$color__gray-text: #A5A5A5;
$color__gray-text-dark: #757575;
$color__gray-dark: #424242;
$color__blue: #69ACCA;

$gap_xs: 10px;
$gap_s: 17px;
$gap_m: 23px;

$size_m: 36px;
$size_l: 45px;

$weight__bold: 700;

$margin__vertical: 2rem;

$border-raius__interactive: 3px;
