include ../../classname.pug
style
    include styles.css

- var progressbar = 'progressbar'

mixin progressbar(fillPercent, options)
    div(class!=(className(progressbar, attributes)))
        div(class!=(className(progressbar, {el: 'fill'})),style!=`width: ${fillPercent}`)
