@import '../../variables.scss';

.progressbar {
    height: 12px;
    box-sizing: border-box;
    background: $color__white-blured;

    &__fill {
        height: 100%;
        background-color: $color__orange;
    }
}
