include ../../classname.pug
style
    include styles.css

- var tooltip = 'tooltip';

mixin tooltip(content, options)
    div(class!=(className(tooltip, attributes)))
        div(class!=(className(tooltip, {el: 'text'})))
            span(class!=(className(tooltip, {el: 'text-item', type: 'bold'})))= options.bold
            span(class!=(className(tooltip, {el: 'text-item'})))= options.text
        div(class!=(className(tooltip, {el: 'arrow'})))
