@import '../../variables.scss';

.tooltip {
    text-align: center;
    color: $color__white;

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $size_l;
        background-color: $color__gray-dark;
        border-radius: $border-raius__interactive;
        font-size: 1.1rem;

        &-item {
            color: #bbb;
            &:after {
                content: '\00a0';
                display: inline;
            }

            &:last-child {
                &:after {
                    content: '';
                }
            }

            &_type_bold {
                font-weight: $weight__bold;
                color: white
            }
        }
    }
    &__arrow {
        width: 0;
        height: 0;
        border-left: .4rem solid;
        border-right: .4rem solid;
        border-top: .5rem solid $color__gray-dark;
        float: right;
        margin-right: 2rem;
    }
}
