<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
        title Scal.io
    body
        style
            include styles.css
        include ../ui/features/payment-form/index.pug
