include ../../classname.pug

style
    include styles.css

- var input = 'input';
mixin input(type, options)
    input(
        class!=(className(input, attributes)),
        id=options.id,
        form=options.form,
        type=type,
        placeholder=options.placeholder,
        min=placeholder=options.min
    )
