@import '../../variables.scss';

.input {
    height: 100%;
    width: 100%;
    border-radius: $border-raius__interactive;
    background: none;
    border: 1px solid $color__gray-border;
    box-sizing: border-box;
    font-size: inherit;
	color: $color__gray-dark;
    outline: inherit;
    padding: 0;
}
