include ../../classname.pug
include ../../atoms/index.pug
style
    include styles.css

- var paymentForm = 'payment-form';

form(class=paymentForm, id='payment')
    +tooltip('', {bold: '$167', text: 'still needed for this project'})(mix=paymentForm)

    div(class!=(className(paymentForm, {el: 'content'})))
        +progressbar('75%')(size='m', mix=paymentForm)

        div(class!=(className(paymentForm, {el: 'days-left'})))
            +text('Only 3 days left ')(type='alert')
            +text('to fund this project')

        div(class!=(className(paymentForm, {el: 'description'})))
            | Join the&nbsp;
            b 42
            | &nbsp;other donors who have already supported this project. Every dollar helps.

        div(class!=(className(paymentForm, {el: 'accept'})))
            div(class!=(className(paymentForm, {el: 'accept-item'})))
                div(class!=(className(paymentForm, {el: 'input-wrapper'})))
                    +input(
                        'number', {
                            placeholder: '0',
                            min: 0,
                            id: 'paymentAmount',
                            form: 'payment'
                        })(mix=paymentForm)

            div(class!=(className(paymentForm, {el: 'accept-item'})))
                +btn('Give Now', {type: 'submit'})(theme='green', mix=paymentForm)

        +link('Why give $50?', '#')(mix=paymentForm, italics=true)

    div(class!=(className(paymentForm, {el: 'actions'})))
        +btn('Save for later')(mix=paymentForm)

        +btn('Tell your friends')(mix=paymentForm)
