@import '../../variables.scss';

.payment-form {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    color: $color__gray-text;

    &__tooltip {
        margin: 0 0 3px 0;
    }

    &__content {
        position: relative;
        border: 1px solid $color__gray-border;
        padding: 25px $gap_m $gap_s $gap_m;
        margin: 0 0 $gap_s 0;
    }

    &__progressbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $color__gray-border;
    }

    &__days-left {
        margin: 0 0 $gap_s 0;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        height: $size_m;
        color: $color__gray-text-dark;
    }

    &__description {
        margin: 0 0 1rem;
    }

    &__accept {
        display: flex;
        height: $size_l;
        margin: 0 0 $gap_xs 0;
        font-size: 1.15rem;

        &-item {
            flex: 1;
            margin: 0 1rem 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__input {
        &-wrapper {
            height: 100%;
            position: relative;
            &:before {
                content: '$';
                display: flex;
                align-items: center;
                position: absolute;
                font-weight: $weight__bold;
                top: 0;
                left: .5rem;
                height: 100%;
            }
        }

        margin: 0 1rem 0 0;
        padding: 0 0 0 1.5rem;
        color: $color__black;
        font-weight: bold;
    }

    &__button {
        flex: 1;
        margin: 0 1rem 0 0;
        font-weight: $weight__bold;
        &:last-child {
            margin: 0;
        }
    }
}
