include ../../classname.pug

style
    include styles.css

- var button = 'button';
mixin btn(text, incomingOptions)
    - var options = incomingOptions || {}
    button(class!=(className(button, attributes)), type=options.type)
        span(class!=(className(button, {el: 'text'})))= text
