@import '../../variables.scss';
@import '../../mixins.scss';

.button {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: $border-raius__interactive;
    background: $color__white-blured;
    border: 1px solid $color__gray-border;
    font: inherit;
	color: inherit;
    outline: inherit;
    padding: 0 .5rem;

    &:active {
        @include disable();

        // Hack 'cause of sleectors concatinatig
        .button__text {
            display: inline-block;
            transform: scale(.95);
        }
    }

    &_theme {
        &_green {
            background-color: $color__green;
            border: none;
            color: $color__white;
        }
    }

    &__text {
        transition: transform $transition-time/2;
    }
}
